useDynLib(dna, .registration=TRUE)

import(methods)

#functions
export(
cornet, PLSnet, PCnet, RRnet, gennet, network.modules,
test.individual.genes,test.class.genes,test.modular.structure
)

exportClasses(
"modules","pairOfNetworks",
"resultsIndTest","resultsClassTest","resultsModTest"
)

exportMethods(
"get.modules","get.network1","get.network2","get.common.networks",
"summary","get.results"
)

